@media print
{    
  .no-print, .no-print *
  {
    display: none ;
  }
}

body {
  background-color: rgba(0,0,0,0);
  margin: 0;
  margin-top: -10px !important;
  overflow: hidden;
}

/* Dragging style */
.maindrop, .borderdrop {
  display: block;
  position: relative;
  float: left;
}
.maindrop {
  background: rgba(0,0,0,0);
  padding: 5px;
  height: 41.5px;
  width: 33.333333%;
}
.borderdrop {
  width: 15%;
  height: 100%;
  left: 45px;
}
.maindrop.drag-enter {
  border: 3px solid red;
}
.borderdrop.drag-enter {
  margin-top: 3px;
  overflow: hidden;
  z-index: 0 !important;
  height: 22px;
}
.maindrag, .borderdrag {
  text-align: center;
  display: block;
  cursor: move;
  background: rgba(210,208,210,1);
}
.maindrag {
  border-radius: 4px;
  background: rgba(210,208,210,1);
  height:100%;
}
.borderdrag {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: rgb(221,219,221);
  border: 1px solid rgb(153,151,154);
  border-bottom: none;
  height: 22px;
  margin-top: 5px;
}
.maindrag.drag-over, .borderdrag.drag-over {
  border: 1px solid black;
}
.maindrag.dragging, .borderdrag.dragging {
  opacity: 0.7;
  z-index: 10000000 !important;
}
.draglist, .borderlist {
  -webkit-padding-start: 0px;
}
.draglist {
  padding-left: 5px;
  padding-right: 5px;
}
.borderlist {
  width: 90vw;
  padding-left: 40px;
}

/* General sidebar style 
 * Adapted from software-made.blogspot.com 
 */
.border {
  height:28px;
  width:100%;
  background: rgba(234,232,234,0.7);
  border-bottom: 1px solid rgb(153,151,154);
  font-size: 12px;
  text-align: right;
  padding: 0 ;
  font-size:1.1vw;
  color: black ;
  
  &.minimized {
    margin-top: 10px; 
  }
  
  .minimized {
    padding-top: 7px;
    padding-right: 2px;
  }
  
}
.border span {
  padding-right: 3px;
  cursor: pointer;
}

.semitrans {
	width: 100%; 
	background: rgb(221,219,221);
	height: 170px;
}
 
.ontop{
	/*padding-top:30px;*/
  z-index: 10001;
	opacity: 1 ;
	width: 100%;
	padding-left: 45px;
	padding-right: 45px;
	position: absolute;
	color: black;
	top:10px;
  margin-top: 25px;
}

.btn {
  padding: 1% 0px !important;
}
.wrapper {
  height: 24px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.btn, .bucketname {
  padding: 0;
}
.bucketname {
  padding-left: 4px;
}
.column {
  height: 108px;
  width: 100%;
  background-color: rgba(240,248,255,0.92);
  border: 1px solid rgb(153,151,154);
  border-radius: 5px;
}
#textbox {
  height: 100%;
  width: 100%;
  resize: none;
  border: 0px;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  padding: 5px;
  font-family: arial;
}
.delete {
  cursor: pointer;
  height:4px;
  width:13px;
}
.button {
  font-size: 0.8vw ;
  padding: 0 ;
	background: rgba(222,219,221,0.85);
  border-radius: 0px ;
  border: 1px solid rgba(199,199,199,0.85);
  font-color: black;
  font-weight: normal ; 
}
#topleft {
  margin-left: 6px;
  padding-top: 5px;
  color: rgb(90,89,90);
  position: absolute;
}