link(href="/dist/css/tree.css" rel="stylesheet")

style(type="text/css").
  .node {
    stroke: #fff;
    stroke-width: 3px;
  }
  .node:hover, .pin:hover {
    cursor: pointer;
  }

  .node.selected {
    stroke: #000;
  }

  .link {
    stroke: #999;
  }
  
  text.label {
    font-size: 1.5em;
  }
  svg *::selection {
        background : transparent;
  }

  svg *::-moz-selection {
        background:transparent;
  }

  svg *::-webkit-selection {
        background:transparent;
  }


.row#graph

