.panel.panel-default(ng-repeat="(query, data) in pages")
  .panel-heading {{query}}
  .panel-body
    accordion
      accordion-group(ng-repeat="(url, records) in data.records")
        accordion-heading
          | {{url}}
          pre
            | {{records[0].topics}}
          .pull-right
            | {{ records.length }}
          i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
        .list-group
          .list-group-item(ng-repeat="record in records") 
            a(href="{{record.url}}") {{record.url}}
