.panel.panel-default(ng-repeat="(query, data) in pages | groupBy: 'query'")
  .panel-heading {{'Query: ' + query}}
  .panel-body
    accordion
      accordion-group(ng-repeat="(url, records) in data | groupBy: 'url'")
        accordion-heading
          span(style='color: #320095; font-weight: normal;')
            | {{records[0].title}} 
          div(style='height: 3px;')
          span(style='color: #095319; font-weight: lighter; font-size: 0.9em;')
            | {{url}}
          .pull-right
            | {{ records.length }}
          i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
        .list-group
          pre.lda(style='display: none;')
          .list-group-item(ng-repeat="record in records") 
            a(href="{{record.url}}") {{record.url}}
          .list-group-item
            pre
              | {{records[0].topics}}
