doctype html
html(ng-csp)
  head
    //The dependency scripts we need
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/uri.js/src/URI.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/bluebird/js/browser/bluebird.min.js')
    script(src='/vendor/dexie/dist/latest/Dexie.min.js')
    script(src='/vendor/dexie/addons/Dexie.Observable/Dexie.Observable.js')
    script(src='/vendor/dexie/addons/Dexie.Syncable/Dexie.Syncable.js')
    script(src='/vendor/js-logger/src/logger.min.js')
    //Our DB APIs we use
    script(src='/js/trackAPI.js')
    //The background event / behavior tracking scripts
    script(src='/js/background/searchTrack.js')
    script(src='/js/background/tabTrack.js')
    script(src='/js/background/behaviorTrack.js')
    //Finally, for the new tab page!
    script(src='/js/background/newTab.js')
    //script(src='/js/background/extension.js')
    //script(src='/js/visual.js') TODO fix me
    
  body
