doctype html
html(lang='en', ng-csp, ng-app='tabApp')
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      //link(rel='icon', href='../../favicon.ico')
      title Navbar Template for Bootstrap
      // Bootstrap core CSS
      link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
      // Custom styles for this template
      link(href='/css/popup.css', rel='stylesheet')   


    body
      .container
        ul.nav.nav-pills
          li(role="presentation")
            a(href="") Link
          li(role="presentation")
            a(href="") Link
          li(role="presentation")
            a(href="") Link
      .row
        .col-sm-12(ui-view="")
            
      //
        Bootstrap core JavaScript
        ==================================================
      // Placed at the end of the document so the pages load faster
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
      script(src='/vendor/js-logger/src/logger.min.js')
      
      //Angular Scripts
      script(src="/vendor/angular/angular.min.js")
      script(src="/vendor/underscore/underscore-min.js")
      script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
      script(src="/vendor/angular-bootstrap/ui-bootstrap.min.js")
      script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js")
      script(src="/vendor/angular-underscore/angular-underscore.min.js")
      script(src='/vendor/angular-dexie-bind/dist/angular-dexie-bind.js')
      script(src='/vendor/angular-filter/dist/angular-filter.min.js')
      script(src='/vendor/uri.js/src/URI.min.js')
      
      //Scripts to access the tab information
      script(src='/vendor/dexie/dist/latest/Dexie.min.js')
      script(src='/vendor/dexie/addons/Dexie.Observable/Dexie.Observable.js')
      script(src='/js/trackAPI.js')
      
      //Finally Load the Angular App and Controllers
      script(src='/js/popup/popup.js')


      
      
