<html ng-csp>

  <body ng-app="listApp" class="no-print" ng-controller="RootCtrl">
    <div class="border" ng-class="{'minimized': minimized}">
      <div id="topleft">
       <span class='glyphicon' ng-class="{'glyphicon-resize-full': minimized, 'glyphicon-resize-small': !minimized}" title="Resize Bar" ng-click='minimize()'></span>
       <span class='glyphicon glyphicon-remove' title="Remove from this page" ng-click='remove()'></span>
       <span class='glyphicon glyphicon-ban-circle' title="Blacklist this page" ng-click='blacklist()'></span>
       <span class='glyphicon' ng-class="{'glyphicon-chevron-up': bottom, 'glyphicon-chevron-down': !bottom}" title="Change Location" ng-click='changeLocation()'></span>
        <!-- <span class='glyphicon glyphicon-cog' title='Access Forager Settings' id='options'></span> -->
      </div>

      <ul class="borderlist"> <!-- ng-hide="minimized" -->
        <li ng-repeat="task in tasks" class="ng-scope borderdrop" ng-drop="true" ng-drop-success="onBorderDropComplete($index,$data,$event)">
        <div ng-drag="true" ng-drag-data="task" ng-attr-title="{{task.name}}" ng-class="task.name" class="borderdrag" ng-drag-success="onDragComplete($data,$event)">
          <div class="taskname">
            <div class="txt" ng-hide="task.editing" ng-click="task.editing=!task.editing">{{task.name}}</div>
            <div class="input-group">
              <input my-input type="text" ng-model="task.name" class="editTaskName form-control" ng-show="task.editing" ng-submit="task.editing=!task.editing; changeName();" value="{{task.name}}"></input>
            </div>
          </div>
          <span class="glyphicon glyphicon-remove-sign pull-right" ng-click="remove()"></span>
        </div>
        </li>
      </ul>
      
      <div class="minimized" ng-hide="!minimized" ng-controller="MinimizedCtrl">
        <span class="label label-primary" id="current-task">{{task.name}}</span>
      </div>

    </div>

    <div class="semitrans"></div>

    <div class="ontop">
    <div class="row" id="row" ng-hide="minimized">
      <!-- Column 1 -->
      <div class="col-md-4 col-xs-4"><div id="column1" class="column">
        <ul class="draglist">
          <li ng-repeat="obj in pages" class="ng-scope maindrop" ng-drop="true" ng-drop-success="onDropComplete($index,$data,$event)">
            <div ng-drag="true" ng-drag-data="obj" ng-class="obj.name" class="maindrag"  ng-drag-success="onDragComplete($data,$event)">{{obj.name}}</div>
          </li>
        </ul>
      </div></div>

      <!-- Column 2 -->
      <div class="col-md-4 col-xs-4"><div id="column2" class="column" ng-controller="ColCtrl2">
        <ul class="draglist">
          <li ng-repeat="obj in pages" class="ng-scope maindrop" ng-drop="true" ng-drop-success="onGridDropComplete($index,$data,$event)">
            <div ng-drag="true" ng-drag-data="obj" ng-class="obj.name" class="maindrag"  ng-drag-success="onDragComplete($data,$event)">{{obj.name}}</div>
          </li>
        </ul>
      </div></div> 

      <!-- Column 3 -->
      <div class="col-md-4 col-xs-4"><div id="column3" class="column ng-scope" ng-controller="AnnotationCtrl">
          <textarea id="textbox">{{task.annotation}}</textarea>
      </div></div>

    </div>

  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css"/>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/dexie/dist/latest/Dexie.js"></script>
  <script src="/vendor/bluebird/js/browser/bluebird.min.js"></script>
  <script src="/vendor/dexie/addons/Dexie.Observable/Dexie.Observable.js"></script>
  <script src="/vendor/js-logger/src/logger.min.js"></script>
  <script src="/vendor/underscore/underscore-min.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="/vendor/angular/angular-csp.css"/>
  <script src="/vendor/ngDraggable/ngDraggable.js"></script>
  <script src="/vendor/angular-dexie-bind/dist/angular-dexie-bind.min.js"></script>
  <script src="/js/trackAPI.js"></script>
  <script src="/js/content/sidebar.js"></script>

  <!-- Could use CDNs if we run into same-origin policy issues
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/dfahlander/Dexie.js/master/dist/latest/Dexie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/2.9.30/bluebird.min.js"></script>
  <script src="https://cdn.rawgit.com/jonnyreeves/js-logger/master/src/logger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  -->

  </body>

</html>

