html(ng-csp='')
  body.no-print(ng-app='listApp', ng-controller='RootCtrl')
    .topBar
      .topRight
        span.glyphicon.glyphicon-remove.pull-right(title="Close Tasks" ng-click='close()')
    #taskContainer
      ul#tasks
        li(ng-repeat="task in tasks | orderBy:'-dateCreated'", ng-class="{selected: (curTask[tab[0].task].id == task.id)}", ng-click="taskSelect(task)") 
          span.glyphicon.glyphicon-ok(ng-if="curTask[tab[0].task].id == task.id")
          div {{task.name}}
    form#addTask.form-inline(ng-submit="createTask()")
      .form-group
        label.sr-only(for="newTask") Task
        input.form-control.input-sm(type="text", placeholder="New Task", ng-model="newTask")
      button.btn.btn-success.btn-sm(type="submit") 
        span.gylphicon.glyphicon-plus
    

  link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/taskSelector.css')
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/dexie/dist/latest/Dexie.js')
  script(src='/vendor/bluebird/js/browser/bluebird.min.js')
  script(src='/vendor/dexie/addons/Dexie.Observable/Dexie.Observable.js')
  script(src='/vendor/js-logger/src/logger.min.js')
  script(src='/vendor/underscore/underscore-min.js')
  script(src='/vendor/angular/angular.js')
  link(rel='stylesheet', type='text/css', href='/vendor/angular/angular-csp.css')
  script(src='/vendor/ngDraggable/ngDraggable.js')
  script(src='/vendor/angular-dexie-bind/dist/angular-dexie-bind.min.js')
  script(src='/js/trackAPI.js')
  script(src='/js/content/taskSelector.js')